* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #2f363e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}

.clock span {
  --rotation: 0;

  position: absolute;
  inset: 20px;
  text-align: center;
	transform: rotate(calc(30deg * var(--i)));
  font-size: 1.2rem;
}

.clock span b 
{
	font-size: 2em;
	opacity: 0.65;
	font-weight: 600;
	display: inline-block;
	transform: rotate(calc(-30deg * var(--i)));
}